<launch>
  <!-- Configuration. -->
  <arg name="config_name" default="configuration"/>
  <arg name="config_file" default="$(find rvizweb)/config/$(arg config_name).json"/>
  <param name="/rvizweb/global_config" type="str" textfile="$(arg config_file)"/>
  
  <!-- Broadcast the config notification. -->
  <node pkg="rostopic" type="rostopic" name="rviz_config_publisher" 
        args="pub /rvizweb/global_config std_msgs/String $(arg config_name) --once" 
   />
</launch>
